* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/css/img/login_bk_img.png") center;
    background-size: 150% auto;
    background-repeat: no-repeat;
}

#login-box {
    width: 55%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #00000080;
    padding: 50px 50px 5px 50px;
}

#login-box h1 {
    color: white;
    font-style: oblique;
    font-size: 50px;
}

#login-box .form .item {
    margin-top: 60px;
}

#login-box .form .item input {
    width: 280px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
}

#login-box .form .item input[placeholder] {
    color: white;
}

#login-box .form .item i {
    font-size: 25px;
    color: white;
}

#login-box button {
    border: 0;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #0051ff 100%);
    border-radius: 25px;
}

#login-box button {
    cursor: pointer;
}

#login-box .form .radio-inline {
    margin: 50px;
}

#login-box .form .radio-inline .idRadio label {
    font-size: 26px;
    background: #ffffff00;
    color: #ffffff;
    margin: 5px;
}

#login-box .tip {
    font-size: 20px;
    color: #ff1c1c;
    text-align: right;
}

#login-box .tips{
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: right;
}

#login-box .tips a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#login-box .tips a:hover{
    color: #69d2ff;
}