* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/css/img/login_bk_img.png") center;
    background-size: 150% auto;
    background-repeat: no-repeat;
}

#register-box {
    width: 22%;
    height: auto;
    margin-left: 1250px;
    margin-top: 6%;
    margin-bottom: 250px;
    text-align: left;
    background: #ececec;
    padding: 20px 40px;
    border-radius: 10px;
    opacity: 0.9;
}

#register-box span {
    color: black;
    font-style: oblique;
    font-size: 30px;
    font-weight: bolder ;
}

#register-box .tips{
    padding: 10px 10px 10px 0;
    font-size: 16px;
}

#register-box .tips a {
    text-decoration: none;
    color: #5f90ff;
}

#register-box .tips a:hover {
    text-decoration: none;
    color: #3674ff;
}

#register-box .form {
    margin-top: 20px;
}

#register-box .form .radio-inline {
    padding: 30px 0;
}

#register-box .form .radio-inline .form-label {
    font-size: 20px;
}

#register-box .form .radio-inline .idRadio {
    font-size: 18px;
}

#register-box .form .item {
    padding: 20px 0;
    font-size: 20px;
}

#register-box .form .item input {
    height: 34px;
    width: 320px;
    color: #000000;
    border-radius: 5px;
    border-width: 2px;
    border: #727272;
    margin: 0 0 0 25px;
    font-size: 16px;
}

#register-box .form #verificationcode {
    width: 200px;
    margin: 0 0 0 5px;
}

#register-box .form .item button {
    height: 34px;
    width: 110px;
    color: #3d3d3d;
    border-radius: 5px;
    border-width: 1px;
    border: #727272;
    background-color: #ffffff;
    font-size: 16px;
}

#register-box .form .item button:hover {
    cursor: pointer;
    color: #5f90ff;
    border: #5f90ff;
}

#register-box .btn {
    margin: 40px 0;
    background-color: #62a1f8;
    border-radius: 30px;
    border-width: 0;
    width:390px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

#register-box .btn:hover {
    cursor: pointer;
}

#register-box .tip {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ff1c1c;
}